In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("listings.csv")
df.head()

/Users/yizhoufang/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,accommodates,amenities,availability_30,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,has_availability,...,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,room_type,state,weekly_price,zipcode
0,10.0,"{""Wireless Internet"",""Air conditioning"",Pool,K...",27,7.0,Real Bed,5.0,5.0,strict,acton,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,CA,NaN,93510
1,2.0,{},29,1.0,Real Bed,1.0,1.0,flexible,palmdale,NaN,...,10.0,10.0,10.0,9.0,93.0,9.0,Private room,CA,NaN,93550
2,2.0,"{""Wireless Internet"",""Air conditioning"",""Wheel...",18,1.0,Real Bed,1.0,1.0,flexible,acton,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Private room,CA,NaN,93510
3,6.0,"{TV,""Wireless Internet"",""Air conditioning"",Poo...",3,1.0,Real Bed,1.0,3.0,flexible,acton,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Entire home/apt,CA,NaN,93510
4,1.0,"{Internet,""Wireless Internet"",Kitchen,""Free pa...",0,1.0,Real Bed,1.0,1.0,flexible,los angeles,NaN,...,10.0,9.0,10.0,9.0,93.0,10.0,Private room,CA,NaN,90007

In [ ]:
df['metropolitan'].unique()

In [ ]:
df.columns

In [ ]:
df['accommodates'].unique()

In [ ]:
Counter(df['city']).most_common(25)

In [ ]:
from collections import Counter

In [3]:
#select interested columns
cols = ['accommodates', 'availability_30', 'bathrooms', 'bedrooms', 'beds', 'metropolitan', 'price', 'property_type', 'review_scores_value','room_type']
new_df = df[cols]

In [ ]:
new_df.info()

In [ ]:
new_df.info()

In [ ]:
new_df[new_df['bathrooms'].isnull()].head()

In [ ]:
#only two property_type are missing, can be removed
new_df[new_df['property_type'].isnull()].head()

In [ ]:
#missing review score usually is new posts
#we can drop them since their prices are usually not tested by markets
new_df[new_df['review_scores_value'].isnull()].head()

In [ ]:
#dealing with missing data
#Missing bathroom -> 0 
#Missing beds -> bedrooms
#Missing review scores -> drop rows
#Missing property type -> drop rows

In [ ]:
#Right now we can drop any row that contain missing values since it's only 20% of the data

In [4]:
nm_df = new_df.dropna(how='any')

In [8]:
nm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42890 entries, 1 to 56416
Data columns (total 10 columns):
accommodates           42890 non-null float64
availability_30        42890 non-null int64
bathrooms              42890 non-null float64
bedrooms               42890 non-null float64
beds                   42890 non-null float64
metropolitan           42890 non-null object
price                  42890 non-null float64
property_type          42890 non-null object
review_scores_value    42890 non-null float64
room_type              42890 non-null object
dtypes: float64(6), int64(1), object(3)
memory usage: 3.6+ MB

In [ ]:
float(nm_df['price'].iloc[0][1:])

In [5]:
nm_df['price'] = nm_df['price'].apply(lambda x: float(x[1:].replace(',', '')))

/Users/yizhoufang/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df = pd.get_dummies(nm_df[['metropolitan', 'property_type', 'room_type']])
new_cols = ['accommodates', 'availability_30', 'bathrooms', 'bedrooms', 'beds', 'price', 'review_scores_value']
df[new_cols] = nm_df[new_cols]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42890 entries, 1 to 56416
Data columns (total 50 columns):
metropolitan_LA                     42890 non-null uint8
metropolitan_oakland                42890 non-null uint8
metropolitan_portland               42890 non-null uint8
metropolitan_san_diego              42890 non-null uint8
metropolitan_san_francisco          42890 non-null uint8
metropolitan_santa_cruz             42890 non-null uint8
metropolitan_seattle                42890 non-null uint8
property_type_Apartment             42890 non-null uint8
property_type_Bed & Breakfast       42890 non-null uint8
property_type_Boat                  42890 non-null uint8
property_type_Boutique hotel        42890 non-null uint8
property_type_Bungalow              42890 non-null uint8
property_type_Cabin                 42890 non-null uint8
property_type_Camper/RV             42890 non-null uint8
property_type_Castle                42890 non-null uint8
property_type_Cave                  42890 non-null uint8
property_type_Chalet                42890 non-null uint8
property_type_Condominium           42890 non-null uint8
property_type_Dorm                  42890 non-null uint8
property_type_Earth House           42890 non-null uint8
property_type_Guest suite           42890 non-null uint8
property_type_Guesthouse            42890 non-null uint8
property_type_Hostel                42890 non-null uint8
property_type_House                 42890 non-null uint8
property_type_Hut                   42890 non-null uint8
property_type_In-law                42890 non-null uint8
property_type_Island                42890 non-null uint8
property_type_Lighthouse            42890 non-null uint8
property_type_Loft                  42890 non-null uint8
property_type_Other                 42890 non-null uint8
property_type_Plane                 42890 non-null uint8
property_type_Serviced apartment    42890 non-null uint8
property_type_Tent                  42890 non-null uint8
property_type_Timeshare             42890 non-null uint8
property_type_Tipi                  42890 non-null uint8
property_type_Townhouse             42890 non-null uint8
property_type_Train                 42890 non-null uint8
property_type_Treehouse             42890 non-null uint8
property_type_Villa                 42890 non-null uint8
property_type_Yurt                  42890 non-null uint8
room_type_Entire home/apt           42890 non-null uint8
room_type_Private room              42890 non-null uint8
room_type_Shared room               42890 non-null uint8
accommodates                        42890 non-null float64
availability_30                     42890 non-null int64
bathrooms                           42890 non-null float64
bedrooms                            42890 non-null float64
beds                                42890 non-null float64
price                               42890 non-null float64
review_scores_value                 42890 non-null float64
dtypes: float64(6), int64(1), uint8(43)
memory usage: 4.4 MB

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
df.columns

Index([u'metropolitan_LA', u'metropolitan_oakland', u'metropolitan_portland',
       u'metropolitan_san_diego', u'metropolitan_san_francisco',
       u'metropolitan_santa_cruz', u'metropolitan_seattle',
       u'property_type_Apartment', u'property_type_Bed & Breakfast',
       u'property_type_Boat', u'property_type_Boutique hotel',
       u'property_type_Bungalow', u'property_type_Cabin',
       u'property_type_Camper/RV', u'property_type_Castle',
       u'property_type_Cave', u'property_type_Chalet',
       u'property_type_Condominium', u'property_type_Dorm',
       u'property_type_Earth House', u'property_type_Guest suite',
       u'property_type_Guesthouse', u'property_type_Hostel',
       u'property_type_House', u'property_type_Hut', u'property_type_In-law',
       u'property_type_Island', u'property_type_Lighthouse',
       u'property_type_Loft', u'property_type_Other', u'property_type_Plane',
       u'property_type_Serviced apartment', u'property_type_Tent',
       u'property_type_Timeshare', u'property_type_Tipi',
       u'property_type_Townhouse', u'property_type_Train',
       u'property_type_Treehouse', u'property_type_Villa',
       u'property_type_Yurt', u'room_type_Entire home/apt',
       u'room_type_Private room', u'room_type_Shared room', u'accommodates',
       u'availability_30', u'bathrooms', u'bedrooms', u'beds', u'price',
       u'review_scores_value'],
      dtype='object')

In [16]:
y = df.pop('price').values

In [17]:
X = df.values

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
regr = RandomForestRegressor(max_depth=5, random_state=0)

In [19]:
from sklearn.model_selection import cross_val_score

In [25]:
print(cross_val_score(regr, X_train, y_train, cv=5))

[ 0.48172428  0.51407889  0.38396276  0.51615139  0.23017603]

In [27]:
regr.fit(X_train, y_train)
print(regr.score(X_test, y_test))

0.505128824554